body {
    min-width: 440px;
    min-height: 400px;
}

.contents {
    width: 30em;
    height: 25em;
    line-height: 1.5;
    padding: 0 5px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
    -webkit-appearance: none;
}

.contents:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}

p {
    margin: -10px 0 0 15px;
    color: #b56969;
}
